<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSCollectionViewLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF3BE33F1CFB0597003DE045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF3BE3581CFB0597003DE045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF3BE3631CFB0597003DE045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
